<h3>Employee Form</h3>

<%= form_for(@employee) do |f| %>
  <label>Employee First Name:</label><br>
  <%= f.text_field :first_name %><br>

  <label>Employee Last Name:</label><br>
  <%= f.text_field :last_name %><br>

  <label>Employee Alias:</label><br>
  <%= f.text_field :alias %><br>

  <label>Employee Office:</label><br>
  <%= f.text_field :office %><br>

  <label>Employee Image:</label><br>
  <%= f.text_field :img_url %><br>

  <%= f.collection_select :pet_id, Pet.all, :id, :name %><br />

  
  <%= f.submit %>
<% end %>